body {
    margin: 20;
    padding: 20;
    overflow: hidden;
}

#map-container {
    display: flex;
    height: 100vh;
}

#mapCanvas {
    background: url('dist_circle.png') center/cover; 
    position: relative;
}

#control-container,

#robot-pos-stat,
#robot-pos-set,

#disp-left,
#disp-right,

#c1,
#c2,
#c3
{
    display: flex;
    flex-direction: column;
}

#mesh-stat,
#robot-stat,
#robot-inf,
#ctrl-buttons {
    display: flex;
    flex-direction: row;
}


#info-container,
#motion-control,
#buttons-container,
#log-container {
    margin: 10px;
}

.motion-control-sister {
    display: inline-block;
    margin-right: 20px;
}

#control-container {
    display: flex;
    height: 100%;
    width: 100%;
}

#mesh-stat,
#robot-stat {
    flex: 0.2; 
    border: 1px;
    padding-top: 5px;
}


#robot-inf {
    flex: 5; /* Each child will take equal space */
    border: 1px ;
    padding-top: 30px;
}
#robot-pos-stat {
    flex: 3; /* Each child will take equal space */
    border: 1px solid #000; /* Optional: Add border for visibility */
    /* text-align: center;  */
}
#robot-pos-set {
    flex: 1; /* Each child will take equal space */
    border: 1px solid #000; /* Optional: Add border for visibility */
    /* text-align: center;  */
}


#ctrl-buttons {
    flex: 10; /* Each child will take equal space */
    border: 1px solid #000; /* Optional: Add border for visibility */
    /* text-align: center;  */
}
.c-ctrl-but {
    flex: 1; /* Each child will take equal space */
    border: 1px solid #000; /* Optional: Add border for visibility */
    text-align: center; 
    height: 100%;
}
.wsad-ctrl-but {
    flex: 1; /* Each child will take equal space */
    border: 1px solid #000; /* Optional: Add border for visibility */
    text-align: center; 
}